
*.js
*.map
*.scss
*.dll
*.xml
*.ps1
*.nupkg
*.exe
*.targets
*.xdt
*.rsp
*.config
*.p7s
*.css
*.cache
*.txt
*.CopyComplete
*.csproj
*.user
*.ico
*.sln
NoteWebApp/.vs/NoteWebApp/v17/.suo
*.png
*.pdb

NoteWebApp/NoteWebApp/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
NoteWebApp/NoteWebApp/Properties/AssemblyInfo.cs
*.v2
NoteApp/.vs/NoteApp/v17/.suo
NoteApp/NoteApp/bin/Debug/net6.0/appsettings.Development.json
NoteApp/NoteApp/bin/Debug/net6.0/appsettings.json
NoteApp/NoteApp/bin/Debug/net6.0/NoteApp.deps.json
NoteApp/NoteApp/bin/Debug/net6.0/NoteApp.runtimeconfig.json
NoteApp/NoteApp/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
NoteApp/NoteApp/obj/Debug/net6.0/NoteApp.AssemblyInfo.cs
*.editorconfig
NoteApp/NoteApp/obj/Debug/net6.0/NoteApp.MvcApplicationPartsAssemblyInfo.cs
*.json
*.props
